asgiref
beautifulsoup4
bs4
certifi
charset-normalizer
cycler
Cython
Django
djangorestframework
greenlet
html5lib
idna
joblib
kiwisolver
lxml
matplotlib
numpy
pandas
patsy
Pillow
pmdarima
psycopg2
pyparsing
python-dateutil
pytz
requests
scipy
scipy
seaborn
selenium
six
sklearn
soupsieve
SQLAlchemy
sqlparse
statsmodels
threadpoolctl
urllib3
webencodings